<ul class="nav flex-column nav-pills" id="pills-tab1" role="tablist" aria-orientation="vertical">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="easy-tab1" data-bs-toggle="tab" data-bs-target="#easy-tab-pane1" type="button"
                role="tab" aria-controls="easy-tab-pane1" aria-selected="true">Easy
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="medium-tab1" data-bs-toggle="tab" data-bs-target="#medium-tab-pane1" type="button"
                role="tab" aria-controls="medium-tab-pane1" aria-selected="false">Medium
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="hard-tab1" data-bs-toggle="tab" data-bs-target="#hard-tab-pane1" type="button"
                role="tab" aria-controls="hard-tab-pane1" aria-selected="false">Hard
        </button>
    </li>
</ul>
